.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: var(--categories-color);
  color: rgb(var(----main-text-color-rgb));
  border-radius: 100px;
  height: 44px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
}

.weirdIcon {
  fill: currentColor;
  stroke: none;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
}
