.form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(var(--main-text-color-rgb), 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 448px;
  height: 532px;
  box-sizing: border-box;
}

.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 8px;
  color: var(--main-text-color);
}

.formText {
  line-height: 150%;
  margin-bottom: 24px;
  margin-bottom: 24px;
  color: var(--main-text-color);
}

.formInput {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 18px;
  width: 400px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--main-text-color);
  opacity: 0.6;
  background-color: var(--inputs-color);
  margin-bottom: 14px;
  transition: opacity 0.3s ease;
}

.formInput:not(:placeholder-shown) {
  opacity: 1;
}

.formInputDate {
  padding: 18px 56px 18px 18px;
  margin-bottom: 0;
}

.dateWrap {
  position: relative;
  margin-bottom: 14px;
}

.calendarBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  stroke: var(--main-text-color);
  fill: none;
}

.iconCalendar {
  width: 20px;
  height: 20px;
}

.formTextarea {
  height: 114px;
  margin-bottom: 24px;
}

css.btnWrap {
  width: 160px;
}
